* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

/* container larghezza standard */
.container {
    width: 1180px;
    margin: auto;
}

/* container larghezza ridotta */
.container-small{
    width: 815px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.w50 {
    width: 50%;
}

.txt-align-R {
    text-align: right;
}

.list-inline {
    display: inline;
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover~.dropdown-content {
    display: block;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #fe775a;
    border-radius: 5px;
    color: #fe775a;
}

.btn.btn-orange {
    color: white;
    background-color: #fe775a;
    border-color: #fe775a;
}

.btn.btn-large {
    padding: 20px 25px;
}

.btn.btn-white {
    background-color: #dadee0;
    border-color: #dadee0;
    color: #32495b;
}

.orange {
    color: #fe775a;
}

/* STYLES */

body {
    font-family: /*'FontAwesome 5 Free',*/'Montserrat', sans-serif;
    color: #33475b;
}

main {
    background-color: #f4f9fd;
}

h1 {
    font-size: 48px;
}

p {
    line-height: 1.6em;
}

header .top-header {
    line-height: 80px;
    background-color: #f4f9fd;
}

/* Stilizzo le liste nell header */
.top-header .left-col ul li{
    display: inline-block;
    padding-right: 15px;
}

.top-header .right-col ul li,
.bottom-header .right-col ul li{
    display: inline-block;
    padding-left: 25px;
}

/* Link style */
a {
    text-decoration: none;
    color: #32495b;
}

footer a {
    color: #cbd6e2;
}

a:hover:not(.dropdown) {
    color: #fe775a;
}


/* resetto la line height dei bottoni in modo che non occupino l'intera altezza*/
.top-header ul li a.btn {
    line-height: 1;
}

.top-header {
    border-bottom: 1px solid #32495b;
}

/* piccola lineetta tra English e Contact Us nell header */
.top-header .container .left-col ul li:first-child i:nth-child(2){
    border-right: 2px solid gray;
    padding-right: 15px;
}

/* BOTTOM HEADER */
.bottom-header{
    line-height: 80px;
}

/* allineo verticalmente il logo*/
.bottom-header .left-col img{
    vertical-align: middle;
}

/* HERO */
.hero {
    position: relative;
    height: 695px;
    background-color: #fff4ef;
    background-image: url("../img/jumbotron.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    padding-top: 70px;
}

/* Green Block in HERO che si sovrappone al BG*/
.green-margin-block{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 85px;
    background-color: #afebe4;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
}

/* spazio verticalmente gli elementi nell'HERO */
.hero .container .w50 *{
    margin-bottom: 30px;
}

.hero .container .w50 span {
    display: block;
    font-size: 12px;
}

/* SEZIONE RUBIK */
.rubik {
    padding-top: 50px;
    text-align: center;
}

.rubik .container-small img {
    width: 250px;
}

.rubik .container-small p {
    margin-top: 30px;
}

.rubik .container-small h2 {
    font-size: 30px;
}

/* CARDS SECTION */

.cards {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* imposto un'ombreggiatura alle card */
.cards .container .card {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

/* LAYOUT CARDS */
/* card top full width */
.cards .card-fullwidth {
    width: 100%;
    padding: 70px;
    padding-right: 120px;
    margin-bottom: 60px;
    background-color: #fff;
}

/* parte sinistra al 33% */
.cards .container .card-fullwidth .image {
    width: 33%;
    text-align: center;
}

/* parte destra con testo al 66% */
.cards .info {
    width: 66%;
}

/* tre card sotto con la stessa larghezza */
.cards .container .three-col .left-col,
.cards .container .three-col .center-col,
.cards .container .three-col .right-col {
    width: calc(100% / 3 - 120px / 3);
    text-align: center;
    background-color: #fff;
    padding: 25px 35px;
}

/* imposto un margine tra le cards sfruttando quella centrale */
.cards .center-col {
    margin-left: 60px;
    margin-right: 60px;
}
/* ======== */

/* Styles cards */

.cards .container .card-fullwidth .image img {
    width: 180px;
    margin-bottom: 25px;
}

.cards .container .card-fullwidth .image a.btn {
    width: 160px;
}

/* margine verticale tra gli elementi tranne l'ultimo */
.cards .info *:not(:last-child){
    margin-bottom: 30px;
}

/* sovrascrivo il margine dell H3 */
.cards .info h3 {
    font-size: 24px;
    margin-bottom: 45px; /*NON SOVRASCRIVE*/

}

/* div che contiene un testo che si sovrappone ad un hr */
.cards .h4hr {
    position: relative;
}

/* il testo in h4 copre parzialmente l hr sottostante per ottenere l'effetto desiderato */
.cards .info h4 {
    display: inline-block;
    width: 40%;
    position: absolute;
    top: 0px;
    z-index: 10;
    background-color: #fff;
}

/* tah hr sottostante con un piccolo allineamento */
.cards .info hr {
    position: relative;
    top: 10px;
}

.cards .info ul {
    margin-top: 50px;
}

.cards .info ul li {
    display: inline;
    margin-right: 15px;
}

/* NON FUNZIONA, cercavo di inserire un fontawsome tramite pseudo selettore */
/* .cards .info ul li::before {*/
    /* content: '\f058'; */
/* } */


/* three col */
.cards .three-col img {
    height: 100px;
}

.cards .three-col h3 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* imposto inline-block e altezza minima per ottenere un border-bottom */
/* che rimanga alla stessa altezza tra le 3 colonne */
.cards .three-col p {
    display: inline-block;
    min-height: 170px;
    margin-bottom: 40px;
    border-bottom: 1px solid #899397;
}

.cards .three-col ul {
    text-align: left;
    list-style: none;
    margin-top: 40px;
}

.cards .three-col a {
    margin-top: 50px;
}

/* gradient section */
.gradient {
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: linear-gradient(to right, #00a8ba, #00b9a9);
    color: #fff;
    text-align: center;
}

.gradient .container > h2{
    font-size: 29px;
}

.gradient p{
    margin-top: 45px;
    margin-bottom: 60px;
}

/* dimensioni celle */
.gradient .cell {
    width: calc(100%/4);
    height: 170px;
    padding-top: 25px;
}

/* margini tra gli elementi della cella */
.gradient .cell > *:not(:last-child) {
    margin-bottom: 10px;
}

/* imposto i margini della griglia */
/* margine che divide le righe */
.gradient .grid .top-row {
    border-bottom: 1px solid #fff;
}

/* margine che divide le colonne */
.gradient .grid .cell:not(:last-child) {
    border-right: 1px solid #fff;
}

.gradient .cell h2 {
    font-size: 40px;
}

.gradient .cell span {
    font-size: 12px;
}

/* SECTION SPONSORS */
.sponsors {
    padding-top: 60px;
    padding-bottom: 60px;
}

.sponsors .container{
    position: relative;
}

/* dimensione colonna sinistra */
.sponsors .left-col {
    width: 40%;
}

/* dimensione colonna destra */
.sponsors .right-col {
    width: 60%;
    padding-left: 20px;
}

/* container piccolo */
.container-spons {
    width: 60%;
    margin: auto;
    padding-bottom: 90px;
    padding-right: 30px;
}

.container-spons h2 {
    font-size: 45px;
    margin-bottom: 35px;
}

.sponsors .left-col > h2 {
    font-size: 31px;
    margin-bottom: 50px;
}

/* stile bottone */
.sponsors .left-col a.btn {
    width: 160px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sponsors .left-col span {
    display: block;
    font-size: 12px;
}

/* assegno altezza fissa alle row */
.sponsors .right-col .grid-sponsor .first-row,
.sponsors .right-col .grid-sponsor .second-row {
    height: 60px;
}

/* dimensione celle */
.sponsors .right-col .grid-sponsor .cell {
    position: relative;
    width: calc(100% / 4);
    height: 100%;
}

/* dimensione e posizonamento img nelle cells */
.sponsors .right-col .grid-sponsor .cell img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 135px;
    padding-right: 22px;
}

/* dimensione e posizionamento della img ritratto */
.sponsors .ritratto img {
    position: absolute;
    right: 0;
    bottom: 15px;
    width: 320px;
}

/* footer */

footer {
    background-color: #32495b;
}

footer .container {
    padding-top: 45px;
    padding-bottom: 50px;
}

footer h4 {
    color: #fff;
}

.foot-col {
    width: calc(100% / 4);
}

footer .foot-col ul,
footer .foot-bottom ul {
    list-style: none;
    margin-top: 35px;
}

footer .foot-col ul li{
    padding-bottom: 20px;
}

footer a {
    font-size: 15px;
}

footer .container .lang {
    padding-top: 85px;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #cbd6e2;
}

footer .lang ul li,
footer .foot-bottom ul li,
footer .links .social-icons ul li
{
    display: inline-block;
}


footer .lang ul li:not(:last-child),
footer .foot-bottom ul li:not(:last-child),
footer .links .social-icons ul li:not(:last-child)
{
    padding-right: 20px;
}

footer .foot-bottom {
    padding-top: 45px;
}

footer .foot-bottom ul {
    margin-top: 0;
}