* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.container {
    width: 1180px;
    margin: auto;
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
}

.container-small{
    width: 815px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.w50 {
    width: 50%;
}

.txt-align-R {
    text-align: right;
}

.list-inline {
    display: inline;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #fe775a;
    border-radius: 5px;
    color: #fe775a;
}

.btn.btn-orange {
    color: white;
    background-color: #fe775a;
    border-color: #fe775a;
}

.btn.btn-large {
    padding: 20px 25px;
}

.orange {
    color: #fe775a;
}

/* STYLES */

body {
    font-family: /*'FontAwesome 5 Free',*/'Montserrat', sans-serif;
    color: #33475b;
}

main {
    background-color: #f4f9fd;
}

h1 {
    font-size: 48px;
}

header .top-header {
    line-height: 80px;
    background-color: #f4f9fd;
}

/* Stilizzo le liste nell header */
.top-header .left-col ul li{
    display: inline-block;
    padding-right: 30px;
}

.top-header .right-col ul li,
.bottom-header .right-col ul li{
    display: inline-block;
    padding-left: 25px;
}

/* BORDO */
/* .top-header .left-col ul li:first-child {
    border-right: 1px solid #32495b;
} */

.top-header ul li a:not(.btn) {
    text-decoration: none;
    color: #32495b;
}

/* resetto la line height dei bottoni */
.top-header ul li a.btn {
    line-height: 1;
}

.top-header {
    border-bottom: 1px solid #32495b;
}

/* bottom header */
.bottom-header{
    line-height: 80px;
}

.bottom-header .left-col img{
    vertical-align: middle;
}

/* HERO */
.hero {
    position: relative;
    height: 695px;
    background-color: #fff4ef;
    background-image: url("../img/jumbotron.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    padding-top: 70px;
}

/* Green Block in HERO */
.green-margin-block{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 85px;
    background-color: #afebe4;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
}

/* spazio verticalmente gli elementi nell'HERO */
.hero .container .w50 *{
    margin-bottom: 30px;
}

/* aumento spazio interlinea in p */
.hero .container .w50 p,
.rubik .container-small p,
.cards .three-col p {
    line-height: 1.6em;
}

.hero .container .w50 span {
    display: block;
    font-size: 12px;
}

/* SEZIONE RUBIK */
.rubik {
    text-align: center;
}

.rubik .container-small img {
    width: 250px;
    margin-top: 50px;
}

.rubik .container-small p {
    margin-top: 30px;
    margin-bottom: 50px;
}

.rubik .container-small h2 {
    font-size: 30px;
}

/* CARDS SECTION */

.cards .card-fullwidth {
    width: 100%;
    padding: 70px;
    padding-right: 120px;
}

.cards .container .three-col .left-col,
.cards .container .three-col .center-col,
.cards .container .three-col .right-col {
    width: calc(100% / 3 - 120px / 3);
    text-align: center;
    background-color: #fff;
    padding: 25px 35px;
}

.cards .card-fullwidth {
    width: 100%;
    margin-bottom: 60px;
    background-color: #fff;
}

.cards .info {
    width: 66%;
}

.cards .center-col {
    margin-left: 60px;
    margin-right: 60px;
}

.cards .container .card-fullwidth .image {
    width: 33%;
    text-align: center;
}

.cards .container .card-fullwidth .image img {
    width: 180px;
    margin-bottom: 25px;
}

.cards .container .card-fullwidth .image a.btn {
    width: 160px;
}

/* margine verticale tra gli elementi tranne l'ultimo */
.cards .info *:not(:last-child){
    margin-bottom: 30px;
}

/* sovrascrivo il margine dell H3 */
.cards .info h3 {
    font-size: 24px;
    margin-bottom: 45px; /*NON SOVRASCRIVE*/

}

.cards .h4hr {
    position: relative;
}

.cards .info h4 {
    display: inline-block;
    width: 40%;
    position: absolute;
    top: 0px;
    z-index: 10;
    background-color: #fff;
}

.cards .info hr {
    position: relative;
    top: 10px;
}

.cards .info ul {
    margin-top: 50px;
}

.cards .info ul li {
    display: inline;
    margin-right: 15px;
}

/* NON FUNZIONA */
/* .cards .info ul li::before {*/
    /* content: '\f058'; */
/* } */


/* three col */
.cards .three-col img {
    height: 100px;
}


.cards .three-col h3 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cards .three-col p {
    display: inline-block;
    min-height: 170px;
    margin-bottom: 40px;
    line-height: ;
    border-bottom: 1px solid #899397;
}

.cards .three-col ul {
    text-align: left;
    list-style: none;
    margin-top: 40px;
}

.cards .three-col a {
    margin-top: 50px;
}
